@CHARSET "UTF-8";

body {

	width: 100%;
	margin: 0px;
	height: 100%;
	/* background: white; */
	/* background-color: #0093b7;  */
	/* background-image: url(../../images/editorBg2.jpg);
	background-size: cover;  */
	/* background-color: white; */
	overflow: hidden;
	
}


#upperContainer {
	width: 100%;
	height: 40%;
	text-align: center;
	/* background-color: rgba(255,255,255,0.5); */
	background-color: white;
	margin-top: 60px;
	/* margin: 20px auto; */
	/* background-color: gray; */
}

	#playerContainer {
		width: 33%;
		float: left;
		height: 95%;
		padding-top: 20px;
		/* border-right: 2px solid #00BFFF; */
		/* overflow: auto; */
		/* text-align: center; */
		/* background-color: red; */
	}
	
		#playerBox {
			width: 98%;
			height: 80%;
			margin-left: 50px;
			/* padding-right: 60px; */
			/* text-align: center; */
			/* background-color: orange; */
		}
		
			#mm-canvas {
				width: 360px;
				height: 99%;
				margin-left: 0px;
			}
			
		#range-and-btn {
			width: 360px;
			height: 18%;
			padding-left: 90px;  
			margin-left: 50px;
			/* text-align: center; */
		}
		
			#player-slider::-webkit-slider-thumb {
			     -webkit-appearance: none;
			    background-color: #26b999;
			    width: 8px;
			    height: 12px;
			}
			
				#p-slider {
					width: 70%;
					height: 30px;
					float: right;
				}
				
			#plyear-btns {
				width: 90%;
				height: 99%;
			}
			
	#uploadContainer {
		width: 38%;
		text-align: center;
		height: 95%;
		float: left;
		/* border-right: 2px solid #00BFFF; */
		/* margin-left: 10px; */
		margin-top: 20px;
	}
	
		#upperBar {
			border-bottom: 1px solid #00BFFF;
			background-color: #00BFFF;
		}
		
			#upload {
				margin-top: 4px;
			}
			
			#imgBtn {
				
			}
			
			#selectedFile {
				/* margin-left: 20px; */
				float: right;
				margin-right: 70px;
				margin-top: 9px;
			}
			
		#fileBox {
			height: 230px;
			overflow: auto; 
			/* text-align: center; */
			border: 2px solid #00BFFF; 
		}
		
			#dragDropZone {
				border: 2px;
				height: 225px;
				max-width: 540px;
				margin: 0px auto;
			}
			
				.fileBox {
					padding-left:5px;
					padding-right:5px;
					display: inline;
				}
				
		#bottom {
			width: 15%;
			height: 95%;
			float: left;
			/* margin-left: 20px; */
		}
			#iconTable {
				margin: 0px auto;
				width: 350px;
				height: 300px;
				/* margin-top: 5px; */
			}
			
				.con_tr {
					height: 70px;
					text-align: center;
				}
				
					.con_td {
						text-align: center;
					}
			
						.bottom_cons {
							width: 60px;
							height: 60px;
						}
					
				.text_tr {
					height: 20px;
					text-align: center;
				}
				
					.text_td {
						text-align: center;
					}
				#text_tt {
					height: 20px;
					width: 100px;
				}
		
	#middle {
		height: 20px;
	}
	
	#downContainer {
		width: 100%;
		height: 58%; 
		/* overflow: auto; */
		background-color: #B2EBF4;
	}
	