@CHARSET "UTF-8";

::-webkit-scrollbar {
	width: 4px; 
	height: 4px;
	border: 3px solid #262626; 
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: block; height: 
	10px; 
	background:  #00D8FF;
}

::-webkit-scrollbar-track {
	background: #00D8FF; 
	-webkit-border-radius: 10px; 
	border-radius:10px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
	height: 50px; 
	width: 50px; 
	background: #fff; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

.character{
	font-size:9pt;
}

#view {
	margin: 0 auto;
	width:1150px;
	height: 300px;
}

#menu {
	margin: 0 auto;
	width:1150px;
	height: 22px;
}

#menuWrap {
	margin: auto;
	background: #1c1c1c;
	width:1150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#timeLine {
	margin: 0 auto;
	width:1150px;
	height: 400px;
}

#dragDropZone {
	border: 2px;
	min-height: 300px;
	max-width: 540px;
}

.player-editor{
	color:#fff;
	padding-left: 10px;
}

.player-editor-pp:hover{
	color:#26b999;
}

.imenu {
	color:#fff;
	
}
.itool {
	color:#808080;
	
}
.ibottom {
	color:#26b999;
	
}

.itool:hover {
    color: #b3b3b3;
}

.imenu:hover {
    color: #26b999;
}

.ibottom:hover {
    color: #fff;
}

.menubox {
	padding-left: 35px;
}

.toolbox {
	padding-top: 10px;
	padding-left: 25px;
  	display: inline-block;

}

.bottombox {
	padding-top: 5px;
	padding-left: 20px;

  	display: inline-block;

}

.ztree li span.button.switch.level0 {
	visibility:hidden; 
	width:1px;
}

.ztree li ul.level0 {
	padding:0; 
	background:none;
}


.fileBox {
	padding-left:5px;
	padding-right:5px;
	display: inline;
}

.fileBox .fname {
	width:94px;
	height:15px;
	font-size:12px;
	color:#fff;
}

.fileBox .fimage {
	width:156px;
	height:auto;
}

.fileBox .fimage:hover{
  background: #fff; 
}

.fileBox .fimage:active { 
    background: #26b999;
}


#t-slider {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 932px;
    height:1px;
    border:1px;
    margin-left: 33px;
}

/* #t-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #26b999;
    width: 2px;
    height: 550px;
}
 */
#t-slider::-webkit-slider-runnable-track {
  width: 100px;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 0px;
  z-index: 1;
  border: 0px solid rgba(0, 0, 0, 0);
}
#t-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 800px;
  width: 2px;
  border-radius: 5px;
  background: #ff0080;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
  z-index: 2000;
  position: relative;
}


#player-slider {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 400px;
    height:12px;
}

#player-slider::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #26b999;
    width: 8px;
    height: 12px;
}

.ui-state-default {
	padding-left: 33px;
}



#editor-vol{
    -webkit-appearance: none;
    width: 90px;
}

#editor-vol::-webkit-slider-runnable-track {
    width: 90px;
    height: 3px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

#editor-vol::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #26b999;
    width: 8px;
    height: 13px;
    margin-top: -9px;
}

#editor-vol:focus {
    outline: none;
}

#editor-vol:focus::-webkit-slider-runnable-track {
    background: #fff;
}

#mm-canvas{
	width: 460px; 
	height: 267px; 
	background-color: #000;
}

#playCon {
	width: 5px;
	height: 5px;
}

#playCon {
	width: 5px;
	height: 5px;
}

.track-odd{
	display: inline-block;
	width: 926px; 
	height: 58px; 
	background-color: #2e2e2e;	
	position: relative;
}

.track-name{
	display:inline-block; width:38px; 
	padding-left:8px;
	padding-right:9px;	
	color:#b3b3b3;
}

.main-track{
	width: 968px; 
	height: 60px; 
	background-color: #262626;
}

.odd-track-container{
	width: 968;
}
.even-track-container{
	width:968;
}

#all-track-container{
	width:970
}

.track-even{
	display: inline-block;
	width: 926px; 
	height: 58px; 
	background-color: #262626;		
	position: relative;
}

audio {
	width: 156px;
}

.verticalLine {
 	border-left: 2px solid #26b999;
	z-index: 999;
	height: 100px; 
	display: inline;
}

.video-obj{
	margin-left: 33px;
	overflow:hidden;
	display: inline-block;
	background-color:#0100FF;
	border: 2px solid;
	border-color: #2e2e2e;
	cursor: pointer;
	height:56px;
	color: #fff;
}

.trans-obj{
	overflow:hidden;
	display: inline-block;
	background-color:#f2ff02;
	border: 2px solid;
	border-color: #2e2e2e;
	cursor: pointer;
	height:56px;
	color: #fff;	
}

#editorBox{
	color: #fff;
}

.e-num{
	width:70px;
}

#e-filter-box{
	width:160px;
	height:250px;
	background-color:#fff;
	overflow-y:scroll; 
}

.obj-thumb{
	height: 52px ; 
	width: auto; 
	vertical-align: middle
}

.image-obj{
	overflow:hidden;
	display: inline-block;
	background-color:#6547b1;
	border: 2px solid;
	border-color: #262626;
	cursor: pointer;
	height:56px;
	color: #fff;
	position: absolute;
}

.audio-obj{
	overflow:hidden;
	display: inline-block;
	background-color:#0080c0;
	border: 2px solid;
	border-color: #2e2e2e;
	cursor: pointer;
	height:56px;
	color: #fff;
	position: absolute;
}

.odd-track-container{
	background-color: #2e2e2e;
}

.even-track-container{
	background-color: #262626;
}

#track-zoom{
    -webkit-appearance: none;
    width: 120px;
}



#track-zoom::-webkit-slider-runnable-track {
    width: 120px;
    height: 3px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

#track-zoom::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #26b999;
    width: 8px;
    height: 13px;
    margin-top: -9px;
}

#track-zoom:focus {
    outline: none;
}

#track-zoom:focus::-webkit-slider-runnable-track {
    background: #fff;
}

.fa-search{
	border-left:20px;
	color:#26b999;
}
#timer{
	color:#fff;
	font-weight:bold;
	font-size: 18px;
}

.detail-menu{
	color:#fff;
}

.filter-Obj{
	overflow:hidden;
	background-color:#d86201;
	border: 3px solid;
	border-color: #ffffff;
	cursor: pointer;
	height:56px;
	width:154px;
	color: #fff;
	
}

#save-dialog{
	z-index : 1000;
}
.ui-dialog { z-index: 1000 !important ;}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}



.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
}
