<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="lets.eat.cancho.post.vo.Post" alias="Post" />
		<typeAlias type="lets.eat.cancho.user.vo.Blog_User" alias="User" />
		<typeAlias type="lets.eat.cancho.user.vo.Blog_Profile" alias="profile" />
		<typeAlias type="lets.eat.cancho.friend.vo.Friend" alias="friend"/>
		<typeAlias type="lets.eat.cancho.comment.vo.Comment" alias="Comment"/>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/postMapper.xml" />
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/friendMapper.xml" />
		<mapper resource="mapper/commentMapper.xml" />
	</mappers>
</configuration>
