/* font color css */
.firepad-c-black {color: blue;}
.firepad-c-red {color: red;}
.firepad-c-green {color: green;}
.firepad-c-blue {color: blue;}
.firepad-c-yellow {color: yellow;}
.firepad-c-cyan {color: cyan;}
.firepad-c-magenta {color: magenta;}
.firepad-c-grey {color: grey;}

/* font size css */
.firepad-fs-9px {font-size: 9px;}
.firepad-fs-10px {font-size: 10px;}
.firepad-fs-12px {font-size: 12px;}
.firepad-fs-14px {font-size: 14px;}
.firepad-fs-18px {font-size: 18px;}
.firepad-fs-24px {font-size: 24px;}
.firepad-fs-32px {font-size: 32px;}
.firepad-fs-42px {font-size: 42px;}